@{
    ViewData["Title"] = "Projects";
}

<section id="projects" class="projects-page">
    <div class="container">
        <h2>All Projects</h2>
        <ul class="project-list">
            <li><a href="/Home/ProjectDetails/1">LearnLanguage App</a></li>
            <li><a href="/Home/ProjectDetails/2">AI Ancestry Visualization</a></li>
            <li><a href="/Home/ProjectDetails/3">Dungeons & Dragons Tools</a></li>
        </ul>
    </div>
</section>
